@model Gighub.ViewModels.Homeviewmodel
@{
    ViewBag.Title = "Home Page";
}
<h2>@Model.heading</h2>
@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group" id="SearchGigs">
        <div class="input-group">
            @Html.TextBoxFor(a => a.SearchTerm, new { @class = "form-control" ,placeholder ="Search by artist genre .." })
            <span class="input-group-addon" id="basic-addon2"> <i class="glyphicon glyphicon-search"></i></span>
        </div>
    </div>
}
<ul class="gigs voffset3">
    @foreach( var gig in Model.Upcominggigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name  
                </span>
                <div class="follow-btn ">
                    @if (Model.ShowActions)
                    {
                        if (gig.IsCanceled)
                        {
                            <spna class="label label-warning">Canceled</spna>
                        }
                        <button class="btn btn-link btn-sm js-toggel-following" style="float:right;" data-user-id="@gig.ArtistId">follow</button>
                    }
                </div>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions && !gig.IsCanceled)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggel-attendance voffset1">Going ?</button>
                }
                
            </div>
        </li>
    }
</ul>
@section scripts{
    <script>
        $(document).ready(function () {
            
            $(".js-toggel-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/Attendance", { gigId :button.attr("data-gig-id") })
                    .done( function () {
                        button.removeClass("btn-default").addClass("btn-info").text("Going");
                    })
                     .fail(function () {
                         alert(" something failed !");
                     });
            });
        });

        $(document).ready(function () {

            $(".js-toggel-following").click(function (e) {
                var button = $(e.target);
                $.post("/api/Follow", { "" : button.attr("data-user-id") })
                    .done(function () {
                        button.removeClass("btn-link").addClass("btn-primary").text("following");
                    })
                    .fail(function () {
                        alert(" something failed !");
                    });
            });
        });
    </script>
    }